@import "tailwindcss";

/* codemirror editor */
.cm-editor{
  @apply bg-color1 w-full h-full text-lg min-h-96 overflow-auto max-h-150
}

.cm-content{
  @apply min-h-full
}

.cm-editor.cm-s-dark {
  @apply bg-black
}

.cm-highlighted-line {
  @apply bg-cyan-400
}

/* color palette  */
@theme {
  /* number system code, error back, editor back  */
  --color-color1: #f0fcf7;
  /* buttons, gutter back, mem view back, reg back */
  --color-color2: #d9eddf;
  /* large div container back  */
  --color-color3: #27c196;
  /* main page back */
  --color-color4: #619c86;
  --color-contrast: #C14427;
}