@import "tailwindcss";

/* codemirror editor */
.cm-editor{
    @apply bg-color1 w-full h-full text-lg
}

.cm-editor.cm-s-dark {
    @apply bg-black
}

.cm-highlighted-line {
    @apply bg-cyan-400
}

/* color palette  */
@theme {
  --color-color1: #f0fcf7;
  --color-color2: #d9eddf;
  --color-color3: #27c196;
  --color-color4: #619c86;
  --color-contrast: #C14427;

}